@use 'shared/styles/03_mixins' as mixins;

.container {
  @include mixins.flex-box(column, space-between, center);
  width: 36rem;
  height: 93.6rem;
  max-width: 36rem;
  max-height: 93.6rem;
  border-radius: 8px;
  background: var(--surface-secondary);
  border: 1px solid var(--border-layout);
}

.returnButton {
  @include mixins.flex-box(row, space-between, center);
  width: 32.8rem;
  height: 5.6rem;
  gap: 1.2rem;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10px;
  background: var(--text-inverse);
  &:hover {
    background-color: var(--surface-secondary);
  }
}
